/* styles.scss */

/* Style the table container */
.table-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}


/* Style the search input */
#search {
  width: 30%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style the select field */
select {
  width: 15rem;
  max-width: 15rem;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

// /* Style the table */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/* Style table headers */
th {
  background-color: #1d4d6d; 
  color: #fff; 
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

/* Style table cells (both header and data cells) */
th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

/* Style table rows with alternating background colors */
tbody tr:nth-child(odd) {
  background-color: #ffffff; 
  // background-color: #f2f2f2; 
}

/* Style table rows on hover */
tbody tr:hover {
  // background-color: #f5f5f5;
  background-color: #ffffff; 
}

/* Style pagination */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.pagination li {
  margin: 5px;
  cursor: pointer;
}

.pagination li.active a {
  background-color: #0d4c62;
  color: white;
  border-color: #0d4c62;
}

.pagination li a {
  text-decoration: none;
  color: #007bff;
  padding: 6px 12px; 
  border: 1px solid #007bff; 
  border-radius: 4px;
}

.pagination li a:hover {
  background-color: #0d4c62;
  color: white;
  border-color: #007bff;
}


// END 
.search-select-panel {
  display: flex;
  gap: 10px;
}

button.delete-button {
  display: block;
  background-color: unset;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}


.details-leads {
  background: #e8e8e8;  
  width: 100vh;
  min-height: 65vh;
  padding: 20px 20px;

  .leads-title{
    text-align: left;
  }
}