/* styles.scss */
.main-leads-container-leads,
.simpleform-containers {
	margin-right: auto;
	margin-left: auto;
	background: #ffffff;
	padding: 50px;
	
}

/* Style the table container */
.table-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

button.view-buttonm, button.delete-button{
  border: unset !important;
  background: none!important;
  cursor: pointer;
  background-color: unset;
  transition: all 0.3s ease;

  &:hover{
    color: #135e96;
    transform: scale(1.1);
  }
  &:active{
    color: #135e96;
  }
}

td.view-td .view-button {
  border: none;
  background: none;
  transition: all 0.3s ease;
  &:hover{
    color: #135e96;
    transform: scale(1.1);
  }
  &:active{
    color: #135e96;
  }
}

/* Style the search input */
#search {
  width: 30%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style the select field */
select {
  width: 15rem;
  max-width: 15rem;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

// /* Style the table */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/* Style table headers */
th {
  background-color: #1d4d6d; 
  color: #fff; 
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

/* Style table cells (both header and data cells) */
th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

/* Style table rows with alternating background colors */
tbody tr:nth-child(odd) {
  background-color: #ffffff; 
  // background-color: #f2f2f2; 
}

/* Style table rows on hover */
tbody tr:hover {
  // background-color: #f5f5f5;
  background-color: #ffffff; 
}

/* Style pagination */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.pagination li {
  margin: 5px;
  cursor: pointer;
}

.pagination li.active a {
  background-color: #0d4c62;
  color: white;
  border-color: #0d4c62;
}

.pagination li a {
  text-decoration: none;
  color: #007bff;
  padding: 6px 12px; 
  border: 1px solid #007bff; 
  border-radius: 4px;
}

.pagination li a:hover {
  background-color: #0d4c62;
  color: white;
  border-color: #007bff;
}


// END 
.search-select-panel {
  display: flex;
  gap: 10px;
}

button.delete-button {
  display: block;
  background-color: unset;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}


.details-leads {
  background: #e8e8e8;  
  width: 100vh;
  min-height: 65vh;
  padding: 20px 20px;

  .leads-title{
    text-align: left;
  }
}


.rwd-table {
  margin: auto;
  min-width: 300px;
  max-width: 100%;
  border-collapse: collapse;
}

.rwd-table tr:first-child {
  border-top: none;
  background-color: #ebf3f9;
  color: #000;
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #ebf3f9;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  margin-top: .5em;
}

.rwd-table td:last-child {
  margin-bottom: .5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.rwd-table {
  color: #333;
  border-radius: .4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
  padding: .5em 1em;
}
@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}


.main-leads-container {
  margin-top: 15px;
}