@import "./Parts/variable";

.gswpts_create_table_container {
    .block_initializer {
        display: flex;
        justify-content: center;
    }

    #filtering_input {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    #bottom_options {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 5px;
    }

    table {
        width: 100% !important;
    }

    button {
        padding: 0.78571429em 1.5em 0.78571429em !important;
        border-radius: 0.28571429rem !important;
        font-family: $font-family;
        font-weight: bold !important;
        margin: 0 30px !important;
    }

    .create_table_input {
        &>div {
            display: flex;
            justify-content: center;
            margin-bottom: 35px;

            button {
                font-family: $font-family;
                font-weight: bold;
                margin: 0 30px;
            }

            div {
                height: 40px;

                &:nth-child(1) {
                    width: 20%;
                    margin-right: 10px;
                }

                &:nth-child(2) {
                    width: 60%;
                }
            }
        }
    }

    #spreadsheet_container {
        h4 {
            font-family: $font-family !important;
            text-align: center;
            font-weight: bold;
            color: #6435c9;
            text-transform: capitalize;
            letter-spacing: 0.5px;
            padding-top: 20px;
        }
    }
}

.components-panel__row {

    .default_rows,
    .verticall_scrolling,
    .cell_format,
    .redirection_type,
    .table_style {
        width: 100%;
        margin-bottom: 15px;
    }
}

.simpleform-grid-not-supported-error {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #1E1E1E;
    margin: 0 0 20px;
    text-align: center;

    span {
        color: rgba(245, 78, 59, 1);
        text-decoration: none;
        cursor: pointer;
    }
}