.gswpts_create_table_container {
    margin-right: 20px;

    * {
        font-family: $font-family;
    }

    a {
        cursor: pointer;
        color: $link-color;
        transition: color 0.1s ease-in-out;

        &:hover {
            color: $link-hover-color;
        }
    }

    .gswpts_table_loader {
        min-height: 450px;
        width: 100% !important;
    }

    .file_input {
        .helper_text {
            height: 0;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(-70%, -50%);
            z-index: 20;
        }
    }

    #gswpts_tables_container .ui.stackable.grid {
        margin: 0;

        .row {
            width: 105% !important;
        }
    }

    #manage_tables_paginate>div {
        padding-top: 0 !important;
    }

    #manage_tables th,
    #manage_tables td {
        vertical-align: middle;
    }

    .input_fields {
        .ui.search.dropdown.selection {
            width: 100%;
        }

        .ui.icon.input {
            width: 100%;
        }

        .hide-column {
            display: none;
        }
    }

    #table_type,
    #rows_per_page {
        z-index: 20;

        i {
            color: $link-hover-color;
            margin-right: 5px;
        }
    }

    #spreadsheet_container .ui.stackable.grid {
        margin: 0;

        .row {
            width: 105% !important;
        }

        #create_tables th,
        #create_tables td {
            vertical-align: middle;
        }
    }

    #create_tables_wrapper {
        width: 100% !important;
    }

    table {
        width: 100%;

        th,
        td {
            max-width: 200px;
            overflow-wrap: break-word;
            min-height: 25px;

            img {
                max-width: unset;
            }
        }

        .expanded_style {
            max-width: unset;
            overflow-wrap: unset;
            white-space: nowrap;
            overflow-x: unset;
        }

        .clip_style {
            max-width: 200px;
            overflow-wrap: unset;
            white-space: nowrap;
            overflow-x: overlay;
            height: 30px;
        }

        .wrap_style {
            max-width: 200px;
            overflow-wrap: break-word;
            white-space: normal;
            overflow-x: unset;

            img {
                max-width: 100%;
            }
        }

        th:focus {
            outline: none;
        }
    }

    #create_tables_paginate>div {
        padding-top: 0 !important;
    }

    .dt-buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;

        button {
            font-size: 13px;
            margin: 0 5px;

            &:hover img {
                filter: brightness(0.1);
            }
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 21px;
        }
    }

    @media screen and (max-width: 540px) {
        .dt-buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            button {
                font-size: 10px !important;
                margin: 10px 0;
            }
        }
    }

    @media screen and (max-width: 700px) {
        .dt-buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            button {
                font-size: 12px !important;
                margin: 10px 0;
            }
        }
    }

    #filtering_input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px 0 5px 0;

        #create_tables_length {
            margin-right: auto;
        }

        #create_tables_filter {
            margin-left: auto;
        }
    }

    #bottom_options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;

        .dataTables_info {
            padding-top: 0 !important;
            margin-right: auto;
        }

        #create_tables_paginate {
            margin-left: auto;
        }
    }

    .dataTables_scrollBody table .hiding_active tr {
        cursor: pointer;
    }

    .dataTables_scrollBody table .cell_hiding_active tr>td {
        cursor: pointer;
    }

    .tableStyleModal {
        transition: background 0.5s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        pointer-events: none;
        z-index: 99;
        margin-right: 20px;

        .styleModal {
            position: absolute;
            margin: auto 20%;
            padding: 15px;
            width: 70%;

            background-color: #fff;
            border-radius: 4px;
            -webkit-box-shadow: 0px 1px 18px 4px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 1px 18px 4px rgba(0, 0, 0, 0.3);

            @media screen and (max-width: 1000px) {
                width: 95%;
            }

            .header {
                margin-bottom: 15px;
            }

            .svg_icons {
                cursor: pointer;
                position: absolute;
                right: 0;
                top: 0;
                margin-right: 7px;
                margin-top: 7px;
            }

            .body {
                height: 600px;
                overflow-y: scroll;
                margin-bottom: 20px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 15px;
                padding: 15px;
                align-items: start;

                @media screen and (max-width: 700px) {
                    grid-template-columns: 1fr;
                }
            }

            .actions {
                display: flex;
                justify-content: flex-end;
                flex-wrap: wrap;

                .button {
                    margin: 5px;
                }
            }

            .styleWrapper {
                position: relative;
                width: 100%;
                display: flex;
                align-self: stretch;
                justify-content: center;
                align-items: center;

                img {
                    min-width: 290px;
                    width: 100%;
                    object-fit: fill;
                }

                label {
                    transition: all 0.1s ease-in-out;
                    margin-top: 5px;
                }

                .active {
                    outline: 5px solid #d54675;
                }

                input {
                    display: none;
                }

                .imgWrapper {
                    position: relative;

                    .pro_feature_promo {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 0;
                        height: 0;
                        z-index: 20;
                        background: #0000007d;
                        overflow: hidden;
                        transition: all 0.1s ease-in-out;

                        a {
                            margin: 0;
                            position: absolute;
                            top: 65%;
                            left: 50%;
                            transform: translateX(-50%);

                            .svg_icons {
                                all: unset;
                            }
                        }

                        .promo_close_btn {
                            display: none;
                        }

                        strong {
                            position: absolute;
                            top: 45%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            white-space: nowrap;
                            color: white;
                            font-size: 15px;
                        }

                        &.active {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    .tableStyleModal.active {
        pointer-events: all;
        background: rgba(0, 0, 0, 0.52);
    }

    .hide-column-modal-wrapper,
    .hide-rows-modal-wrapper,
    .hide-cell-modal-wrapper {
        transition: background 0.5s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        pointer-events: none;
        z-index: 99;
        margin-right: 20px;

        .gswpts-hide-modal {
            position: absolute;
            margin: auto 20%;
            padding: 15px;
            width: 30%;

            background-color: #fff;
            border-radius: 4px;
            -webkit-box-shadow: 0px 1px 18px 4px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 1px 18px 4px rgba(0, 0, 0, 0.3);

            @media screen and (max-width: 1000px) {
                width: 95%;
            }

            .header {
                margin-bottom: 15px;
            }

            .svg_icons {
                cursor: pointer;
                position: absolute;
                right: 0;
                top: 0;
                margin-right: 7px;
                margin-top: 7px;
            }

            .body {
                min-height: 150px;

                &>div {
                    margin: 10px 0;

                    .text {
                        padding-left: 5px;
                    }

                    .ui.label {
                        background-color: $link-hover-color;
                        color: #fff;
                    }
                }

                div>span {
                    font-weight: bold;
                    font-size: 1.1rem;
                    text-transform: capitalize;
                }
            }

            .actions {
                display: flex;
                justify-content: flex-end;
                flex-wrap: wrap;

                .button {
                    margin: 5px;
                }
            }
        }

        .ui.toggle.checkbox {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 22px;
            transform: scale(1.15);

            input {
                visibility: hidden;
            }

            label {
                cursor: pointer;
                margin: 0 !important;
            }

            input:checked~.box:before,
            input:checked~label:before {
                background-color: $link-color !important;
            }
        }
    }

    .hide-rows-modal-wrapper .gswpts-hide-modal .body,
    .hide-cell-modal-wrapper .gswpts-hide-modal .body {
        min-height: unset;
        margin-bottom: 15px;
    }

    .hide-column-modal-wrapper.active,
    .hide-rows-modal-wrapper.active,
    .hide-cell-modal-wrapper.active {
        pointer-events: all;
        background: rgba(0, 0, 0, 0.52);
    }

    .promo_large {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 99%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        pointer-events: none;
        z-index: 99;
        background: #00000085;
        position: absolute;
        transition: opacity 300ms ease-in-out;

        &>div {
            justify-content: flex-start;
        }
    }

    .promo_large.active {
        opacity: 1;
        pointer-events: all;
    }

    .bottom_next_btn {
        width: 100%;
        margin-top: 15px;
        display: flex;
        justify-content: flex-end;
    }
}

#gswpts_tabs {
    /* colors */
    $blue: $link-color;
    $red: #ff4a53;
    $dark: #333;
    $accent: $blue;
    $accent-inactive: desaturate($accent, 85%);
    $secondary: $accent-inactive;
    /* tab setting */
    $tab-count: 4;
    $indicator-width: 50px;
    $indicator-height: 4px;
    /* breakpoints */
    $breakpoints: (medium: #{$tab-count * 250px},
        small: #{$tab-count * 150px},
    );
    /* selectors relative to radio inputs */
    $label-selector: "~ ul > li";
    $slider-selector: "~ .slider";
    $content-selector: "~ .content > section";

    @mixin tabs($label-selector: $label-selector, $slider-selector: $slider-selector, $content-selector: $content-selector) {
        @for $i from 1 through $tab-count {
            &:nth-of-type(#{$i}):checked {
                #{$label-selector}:nth-child(#{$i}) {
                    @content;
                }

                #{$slider-selector} {
                    transform: translateX(#{100% * ($i - 1)});
                }

                #{$content-selector}:nth-child(#{$i}) {
                    display: block;
                }
            }
        }
    }

    .tabs {
        padding: 20px;
        width: 100%;
        background-color: $bg-color;
        border-radius: $border-radious;
        min-width: #{$tab-count * 60px};

        input[name="tab-control"] {
            display: none;
        }

        .content section h2,
        ul li label {
            font-weight: bold;
            font-size: 18px;
            color: $accent;
        }

        ul {
            list-style-type: none;
            padding-left: 0;
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            li {
                box-sizing: border-box;
                flex: 1;
                width: calc(100% / $tab-count);
                padding: 0 10px;
                text-align: center;

                label {
                    transition: all 0.3s ease-in-out;
                    color: $secondary;
                    padding: 5px auto;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: block;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                    white-space: nowrap;
                    -webkit-touch-callout: none;

                    br {
                        display: none;
                    }

                    svg {
                        fill: $secondary;
                        height: 1.2em;
                        vertical-align: bottom;
                        margin-right: 0.2em;
                        transition: all 0.2s ease-in-out;
                    }

                    &:hover,
                    &:focus,
                    &:active {
                        outline: 0;
                        color: lighten($secondary, 15%);

                        svg {
                            fill: lighten($secondary, 15%);
                        }
                    }
                }
            }
        }

        .slider {
            position: relative;
            width: calc(100% / $tab-count);
            transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);

            .indicator {
                position: relative;
                width: $indicator-width;
                max-width: 100%;
                margin: 0 auto;
                height: $indicator-height;
                background: $accent;
                border-radius: 1px;
            }
        }

        .content {
            margin-top: 25px;

            section {
                display: none;

                animation: {
                    name: content;
                    direction: normal;
                    duration: 0.3s;
                    timing-function: ease-in-out;
                    iteration-count: 1;
                }

                line-height: 1.4;

                h2 {
                    color: $accent;
                    display: none;

                    &::after {
                        content: "";
                        position: relative;
                        display: block;
                        width: 30px;
                        height: 3px;
                        background: $accent;
                        margin-top: 5px;
                        left: 1px;
                    }
                }
            }
        }

        input[name="tab-control"] {
            @include tabs {
                >label {
                    cursor: default;
                    color: $accent;

                    svg {
                        fill: $accent;
                    }

                    @media (max-width: map-get($breakpoints, small)) {
                        background: rgba(0, 0, 0, 0.08);
                    }
                }
            }
        }

        @keyframes content {
            from {
                opacity: 0;
                transform: translateY(5%);
            }

            to {
                opacity: 1;
                transform: translateY(0%);
            }
        }

        @media (max-width: map-get($breakpoints, medium)) {
            ul li label {
                white-space: initial;

                br {
                    display: initial;
                }

                svg {
                    height: 1.5em;
                }
            }
        }

        @media (max-width: map-get($breakpoints, small)) {
            ul li label {
                padding: 5px;
                border-radius: 5px;
            }

            ul {
                flex-direction: column;
                justify-content: center;
                align-items: center;

                li {
                    width: 90%;
                }
            }

            .slider {
                display: none;
            }

            .content {
                margin-top: 20px;

                section h2 {
                    display: block;
                }
            }
        }
    }

    #display_settings,
    #sort_filter,
    #table_tools {
        .feature-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
            grid-gap: 20px;

            @media screen and (max-width: 512px) {
                grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
            }
        }

        .card {
            position: relative;
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .gswpts_pro_card {
            border: 3px solid #ffa500ad;
            box-shadow: none;
        }

        .content {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            width: 100%;

            .ui.dropdown {
                width: 250px !important;

                .ui.label {
                    background-color: $link-hover-color;
                    color: #fff;
                }
            }

            .pro_feature {
                float: right;
                margin-top: -10px;
                font-size: 20px;
                color: $link-hover-color;
            }

            .selectbox_overlay {
                position: absolute;
                width: 90%;
                margin: 0 auto;
                height: 40px;
                bottom: 15px;
                z-index: 20;
            }

            .card-top-header {
                text-transform: capitalize;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                &>span {
                    font-size: 1.2rem;
                    font-weight: bolder;
                    margin-right: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    div {
                        background: none;
                        margin-left: 5px !important;
                    }
                }

                .pro_star_icon {
                    color: #ffa500ad;
                }

                .input-tooltip {
                    position: relative;
                    margin-right: 10px;

                    svg {
                        cursor: pointer;
                    }

                    .tooltiptext {
                        opacity: 0;
                        pointer-events: none;
                        background-color: #000;
                        color: #fff;
                        text-align: center;
                        border-radius: 6px;
                        padding: 5px;
                        position: absolute;
                        z-index: 50;
                        top: 130%;
                        left: 0%;
                        transform: translateX(-30%);
                        min-height: 200px;
                        transition: opacity 500ms ease-in-out;

                        &::after {
                            content: "";
                            position: absolute;
                            top: -15px;
                            right: 65%;
                            border-width: 8px;
                            border-style: solid;
                            border-color: transparent transparent #000 transparent;
                        }

                        span {
                            display: block;
                            margin-bottom: 8px;
                            font-style: italic;
                            padding: 2px;
                        }

                        img {
                            max-width: 500px;
                            min-width: 350px;
                            width: 100%;
                        }

                        @media screen and (max-width: 600px) {
                            left: -48px;
                            top: 100%;
                            margin-top: 15px;

                            &::after {
                                display: none;
                            }
                        }
                    }

                    &:hover .tooltiptext {
                        opacity: 1;
                        pointer-events: all;
                    }
                }
            }

            .tableStyle {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                align-items: center;

                .label {
                    margin-left: 20px;
                }

                .chooseStyle {
                    cursor: pointer;
                }
            }
        }

        .ui.toggle.checkbox {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-right: -10px;

            input {
                visibility: hidden;
            }

            label {
                cursor: pointer;
                margin: 0 !important;
            }

            input:checked~.box:before,
            input:checked~label:before {
                background-color: $link-color !important;
            }
        }

        .pro_feature_promo {
            position: absolute;
            width: 0;
            height: 0;
            z-index: 20;
            background: #0000007d;
            overflow: hidden;
            transition: all 0.1s ease-in-out;

            a {
                margin: 0;
                position: absolute;
                top: 65%;
                left: 50%;
                transform: translateX(-50%);
            }

            .promo_close_btn {
                position: absolute;
                top: 0;
                left: 0;
                margin-left: 8px;
                margin: 8px 0 0 8px;
                color: white;
                font-size: 17px;
                cursor: pointer;
            }

            strong {
                position: absolute;
                top: 45%;
                left: 50%;
                transform: translate(-50%, -50%);
                white-space: nowrap;
                color: white;
                font-size: 15px;
            }

            &.active {
                width: 100%;
                height: 100%;
            }
        }
    }

    .disabled_checkbox *,
    .disabled_checkbox>label {
        visibility: hidden;
        pointer-events: all;
    }
}